.tp-cart {
    margin-top: 1.25rem;
    .note-discount {
        background-color: #fffefb;
        border: 1px solid rgba(224,168,0,.4);
        padding: .75rem 1rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: .625rem;
        border-radius: 2px;
        width: 100%;
        span {
            color: #222;
            margin-left: .5rem;
        }
    }
    .wrap-title {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
        border-radius: .125rem;
        overflow: hidden;
        border-radius: 3px;
        height: 3.4375rem;
        font-size: .875rem;
        background: #fff;
        text-transform: capitalize;
        margin-bottom: 12px;
        color: #888;
        padding: 0 20px;
        width: 100%;
        display: flex;
        .all-product {
            width: 16px;
            height: 16px;
        }
        .txt-product {
            vertical-align: sub;
            margin-left: 15px;
        }
    }
    .group-item-store {
        .store {
            margin-bottom: 15px;
            .header {
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
                border-radius: .125rem;
                overflow: hidden;
                border-radius: 3px;
                height: 3.4375rem;
                font-size: .875rem;
                background: #fff;
                text-transform: capitalize;
                color: #888;
                padding: 0 20px;
                width: 100%;
                display: flex;
                border-bottom: 1px solid rgba(0,0,0,.09);
            }
        }
        .all-product-store {
            width: 16px;
            height: 16px;
        }
        .txt-like {
            vertical-align: sub;
            margin-left: 15px;
            position: relative;
            background-color: #ee4d2d;
            padding: 0.1875rem 0.25rem;
            text-transform: capitalize;
            color: #fff;
            line-height: 1;
            white-space: nowrap;
            cursor: default;
            margin-right: 10px;
            border-radius: 2px;
            font-size: 0.65rem;
            font-weight: bold;
        }
        .name-store {
            color: rgba(0,0,0,.8);
            font-weight: 500;
            margin-left: 5px;
            vertical-align: sub;
        }
    }
    .list-item {
        //padding-top: 40px;
        //padding-bottom: 25px;
        background: #fff;
        .item {
            align-items: center;
            border-radius: 0.125rem;
            border-radius: 3px;
            font-size: 0.875rem;
            background: #fff;
            text-transform: capitalize;
            color: #888;
            padding: 0 20px;
            width: 100%;
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.09);
            padding-bottom: 25px;
            padding-top: 30px;
            .wrap-img {
                img {
                    margin-left: 20px;
                    margin-right: 15px;
                }
                .check-item {
                    width: 16px;
                    height: 16px;
                    margin-top: 30px;
                }
            }
            span {
                color: #222;
            }
            .quantity {
                display: flex;
                .shopee-svg-icon {
                    font-size: 10px;
                    width: 10px;
                    height: 10px;
                }
                button {
                    outline: none;
                    cursor: pointer;
                    border: none;
                    font-size: .875rem;
                    font-weight: 300;
                    line-height: 1;
                    letter-spacing: 0;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -moz-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-transition: background-color .1s cubic-bezier(.4,0,.6,1);
                    transition: background-color .1s cubic-bezier(.4,0,.6,1);
                    border: 1px solid rgba(0,0,0,.09);
                    border-radius: 2px;
                    background: transparent;
                    color: rgba(0,0,0,.8);
                    width: 32px;
                    height: 32px;
                }
                input {
                    width: 50px;
                    height: 32px;
                    border-left: none;
                    border-right: none;
                    font-size: 16px;
                    font-weight: 400;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    text-align: center;
                    cursor: text;
                    border-radius: 0;
                    outline: none;
                    cursor: pointer;
                    border: none;
                    font-size: .875rem;
                    font-weight: 300;
                    line-height: 1;
                    letter-spacing: 0;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -moz-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -moz-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-transition: background-color .1s cubic-bezier(.4,0,.6,1);
                    transition: background-color .1s cubic-bezier(.4,0,.6,1);
                    border: 1px solid rgba(0,0,0,.09);
                    border-radius: 2px;
                    background: transparent;
                    color: rgba(0,0,0,.8);
                }
            }
            .total-price {
                color: #ee4d2d;
            }
        }
    }
    .swap-footer {
        background: #fff;
        //position: fixed;
        //bottom: 0;
        //max-width: 1140px;
        .voucher {
            padding: .75rem 0;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        }
        .summary {
            padding: 1rem 0;
            padding-left: 25px;
            color: #222;
            font-size: 1rem;
            .check-all {
                margin-left: 30px;
                text-transform: capitalize;
                cursor: pointer;
                vertical-align: sub;
            }
            .delete {
                margin-left: 25px;
                vertical-align: sub;
            }
            .total-price {
                font-size: 1.875rem;
                line-height: 1.875rem;
                margin-left: .3125rem;
                color: #ee4d2d;
            }
            .btn-buy {
                padding: 13px 36px;
                margin: 0 22px 0 15px;
                text-transform: capitalize;
                font-weight: 300;
                height: 2.5rem;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                font-size: .875rem;
                border-radius: 2px;
                width: 13.125rem;
                background: #ee4d2d;
                outline: none;
                cursor: pointer;
                border: none;
                color: #fff;
            }
        }
    }
}
