.tp-checkout {
    margin-top: .75rem;
    .border-delivery {
        height: .1875rem;
        width: 100%;
        background-position-x: -1.875rem;
        background-size: 7.25rem .1875rem;
        background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
    }
    .header {
        padding: 1.75rem 1.5rem 1.5rem;
        background: #fff;
        .title {
            font-size: 1.125rem;
            color: #ee4d2d;
            margin-bottom: 1.25rem;
            text-transform: capitalize;
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -moz-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
        }
        .customer-info {
            span {
                color: #222;
                font-size: 1rem;
            }
            .name, .phone-number {
                font-weight: 700;
            }
            .address {
                margin-left: 1.25rem;
            }
            .default-address {
                font-size: .875rem;
                font-weight: 500;
                color: #929292;
                margin-left: 1.875rem;
                text-transform: capitalize;
            }
            .change-address {
                color: #05a;
                text-transform: uppercase;
                margin-left: 3.75rem;
                font-weight: 500;
                cursor: pointer;
                font-size: 0.875rem;
            }
        }
    }
    .group-item-store {
        padding: 1.5rem 1.875rem 0;
        background: #fff;
        margin-top: 15px;
        .store {
            .wrap-title {
                display: flex;
                width: 100%;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 1.875rem;
                font-size: .875rem;
                color: #bbb;
                .col-md-5 {
                    span {
                        text-align: center;
                    }
                }
            }
            .store-name {
                padding-top: 22px;
                padding-left: 13px;
                height: 3.125rem;
                .name {
                    i {
                        font-size: 17px;
                    }
                    span {
                        margin-left: .3125rem;
                    }
                }
                .chat-now {
                    color: #00bfa5;
                    margin-left: .625rem;
                    border-left: 1px solid rgba(0,0,0,.09);
                    i {
                        font-size: 17px;
                        margin-left: .625rem;
                        margin-right: .25rem;
                    }
                }
            }
            .list-item {
                .item {
                    margin-top: 0.75rem;
                    padding-top: .75rem;
                    border-bottom: .0625rem dashed rgba(0,0,0,.09);
                    padding-bottom: 1.25rem;
                    .name {
                        margin: 0 .9375rem;
                        max-width: 50%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                        color: #222;
                    }
                    .type {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-left: .8125rem;
                        color: #929292;
                        max-width: 30%;
                        vertical-align: middle;
                    }
                    .col-md-5 {
                        span {
                            text-align: center;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    .voucher {
        background: #fff;
        border-bottom: .0625rem dashed rgba(0,0,0,.09);
        padding: 1.125rem 1.875rem;
    }
    .transport-info {
        background: #fafdff;
        border-bottom: .0625rem dashed rgba(0,0,0,.09);
        .note {
            display: flex;
            align-items: center;
            padding: 1rem 1.875rem;
            input {
                padding: .25rem .75rem;
                width: 100%;
                height: 2.5rem;
                height: 38px;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                width: 100%;
                padding: 10px;
                background-color: transparent;
                flex: 1;
                outline: none;
                font-size: .875rem;
                min-width: 0;
                color: #222;
                box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
                border-radius: 2px;
                border: 1px solid rgba(0,0,0,.14);
                margin-left: .9375rem;
            }
        }
        .info {
            display: flex;
            align-items: center;
            padding: 1rem 0;
            padding-left: 1.25rem;
            border-left: .0625rem dashed rgba(0,0,0,.09);
        }
    }
    .total-price {
        padding: 0 1.875rem;
        height: 4.5625rem;
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        background: #fafdff;
    }
    .wrap-info-checkout {
        box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0,0,0,.09);
        border-radius: .1875rem;
    }
    .payment-method {
        background: #fff;
        margin-top: 30px;
        .method {
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            min-height: 5.625rem;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 1.875rem;
            padding-right: 1.875rem;
            border-bottom: .0625rem solid rgba(0,0,0,.05);
            button {
                font-weight: 500;
                border-radius: 2px;
                height: 2.5rem;
                display: flex;
                align-items: center;
                display: inline-flex;
                margin-bottom: 0;
                margin-top: .625rem;
                cursor: pointer;
                min-width: 5rem;
                min-height: 2.125rem;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: .25rem .75rem;
                margin: 0 8px 8px 0;
                color: rgba(0,0,0,.8);
                text-align: left;
                border-radius: 2px;
                border: 1px solid rgba(0,0,0,.09);
                position: relative;
                background: #fff;
                outline: 0;
                word-break: break-word;
                display: -webkit-inline-box;
                display: -webkit-inline-flex;
                display: -moz-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                &:hover {
                    color: #ee4d2d;
                    border-color: #ee4d2d;
                }
            }
            span {
                font-size: 1.125rem;
                width: 12.5rem;
                color: #222;
                display: inline-block;
                margin-bottom: 15px;
            }
        }
        .txt-method {
            padding: 1.75rem 1.875rem;
        }
    }
    .txt-sum-price {
        background: #fffefb;
        box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0,0,0,.05);
        border-top: .0625rem solid #f1f0ed;
        display: flex;
        padding-top: 1.5rem;
        padding-right: 40px;
        .total, .price-fee, .payment {
            height: 40px;
            color: rgba(0,0,0,.54);
            .txt-pr-left {
                width: 70%;
                display: inline-block;
            }
            //.number-price {
            //    width: 12%;
            //    display: inline-block;
            //}
        }
    }
    .order {
        display: flex;
        height: 5.9375rem;
        align-items: center;
        button {
            background: #ee4d2d;
            color: #fff;
            width: 13.125rem;
            height: 2.5rem;
            border: .0625rem solid rgba(0,0,0,.09);
            box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0,0,0,.03);
            border-radius: .125rem!important;
            text-transform: capitalize;
            outline: none;
        }
    }
}
