.header-home-page, .header-other-page {
    background: linear-gradient(-180deg,#f53d2d,#f63);
    padding-top: 10px;
    padding-bottom: 20px;
    .header-top {
        padding-bottom: 20px;
        span {
            color: #fff;
            text-decoration: none;
            font-size: .8125rem;
            font-weight: 300;
            padding: 0 .4375rem;
            a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: #929292;
                }
            }
        }
        .txt-add-border {
            border-right: 2px solid hsla(0,0%,100%,.22);
        }
    }
}
.header-home-page {
    .wrap-search {
        .ip-search {
            width: 100%;
            box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.09);
            display: flex;
            justify-content: space-between;
            height: 2.5rem;
            box-sizing: border-box;
            padding: .1875rem;
            border-radius: 2px;
            background-color: #fff;
            border-color: #fff;
            padding-left: .625rem;
            outline: none;
            border: none;
        }
        .btn-search {
            position: absolute;
            right: 18px;
            top: 3px;
            height: 34px;
            padding: 0 15px;
            min-width: 60px;
            max-width: 190px;
            background: #fb5533;
            color: #fff;
            border: none;
            outline: none;
            border-radius: 2px;
        }
    }
}
.header-other-page {
    .header-top {
        padding-bottom: 6px;
    }
    padding-bottom: 0;
}
.header-other-page {
    .wrap-search {
        align-items: center;
        background: #fff;
        border-bottom: 1px solid rgba(0,0,0,.09);
        height: 6.25rem;
        .title-page {
            margin-left: .9375rem;
            border-left: .0625rem solid #ee4d2d;
            color: #ee4d2d;
            font-size: 1.25rem;
            line-height: 1.875rem;
            height: 1.875rem;
            padding-left: .9375rem;
            margin-bottom: .0625rem;
            text-transform: capitalize;
            vertical-align: middle;
        }
        .ip-search {
            height: 2.5rem;
            box-sizing: border-box;
            padding: .1875rem;
            border-radius: 2px;
            background: #fff;
            border: 2px solid #ee4d2d;
            outline: none;
            width: 100%;
            padding-left: .625rem;
        }
        .btn-search {
            padding: 0 15px;
            min-width: 60px;
            max-width: 190px;
            color: #fff;
            background: #ee4d2d;
            border-radius: 0;
            width: 5rem;
            border: none;
            outline: none;
            position: absolute;
            right: 17px;
            height: 2.4rem;
        }
    }
}
