.tp-login {
    background: rgb(238, 77, 45);
    .container {
        background-image: url("https://cf.shopee.vn/file/ce5b0ae4ef68c1dcd3a96a2f7b5dab55");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
    }
    .form-login {
        padding: 1.875rem;
        background: #fff;
        margin-top: 80px;
        margin-bottom: 80px;
        .title-login {
            font-size: 1.25rem;
            color: #222;
            text-transform: capitalize;
            margin-bottom: 25px;
        }
        .ip-email, .ip-password {
            input {
                height: 2.5rem;
            }
        }
        .ip-email {
            margin-bottom: 28px;
        }
        .ip-password {
            margin-bottom: 35px;
        }
        .btn-login {
            color: #fff;
            background-color: #ee4d2d;
            box-shadow: 0 1px 1px rgba(0,0,0,.09);
            height: 2.5rem;
            min-width: 8.75rem;
            text-transform: uppercase;
            width: 100%;
            outline: none;
            padding: 0 .625rem;
            border: 0;
            opacity: .7;
            border-radius: .125rem;
        }
        .forgot-password {
            margin: .9375rem 0;
            color: #05a;
        }
        .border-line {
            padding-bottom: .875rem;
            div {
                border: .03125rem solid #dbdbdb;
                flex: 1;
                height: 1px;
                margin-top: 7px;
            }
            span {
                color: #ccc;
                padding: 0 1rem;
                text-transform: uppercase;
            }
        }
        .social-login {
            padding-bottom: 1.875rem;
            div {
                margin-right: 10px;
            }
        }
        .swap-footer {
            text-align: center;
            span {
                padding-right: .25rem;
                font-size: .875rem;
                color: rgba(0,0,0,.26);
            }
            .txt-register {
                color: #EE4D30;
            }
        }
    }
}
.header-login {
    background: #fff;
    height: 5.25rem;
    line-height: 5.25rem;
    .header-left {
        img {
            margin-bottom: 15px;
        }
        span {
            color: #222;
            font-size: 1.5rem;
        }
    }
    .header-right {
        span {
            color: #ee4d2d;
            font-size: 1.125rem;
            cursor: pointer;
        }
    }
}
