.tp-product-detail {
    .tp-title {
        margin-top: 1.25rem;
        height: 1rem;
    }
    .wrap-img-product {
        padding: 15px;
        img {
            max-width: 450px;
        }
    }
    .wrap-detail {
        padding: 1.25rem 2.1875rem 0 1.25rem;
        .title-product {
            .txt-like {
                position: relative;
                background-color: #ee4d2d;
                padding: .1875rem .25rem;
                text-transform: capitalize;
                color: #fff;
                font-weight: 500;
                font-size: .625rem;
                line-height: 1;
                white-space: nowrap;
                cursor: default;
                margin-right: 10px;
                border-radius: 2px;
            }
            .title {
                font-weight: 500;
                margin: 0;
                vertical-align: sub;
                max-height: 3rem;
                line-height: 1.5rem;
                overflow: hidden;
                max-width: 41.5625rem;
                font-size: 1.25rem;
            }
        }
        .rate-product {
            margin-top: 15px;
            height: 25px;
            .rate-start {
                padding-right: 15px;
                span {
                    color: #ee4d2d;
                    font-size: 1rem;
                }
                .txt-star {
                    padding-bottom: 1px;
                    border-bottom: 1px solid #ee4d2d;
                    margin-right: 5px;
                }
            }
        }
        .txt-rate {
            padding: 0 15px;
            span {
                font-size: .875rem;
                color: #767676;
                text-transform: capitalize;
            }
            span:first-child {
                margin-right: 5px;
                padding-bottom: 1px;
                font-size: 1rem;
                border-bottom: 1px solid #555;
                color: #222;
            }
        }
        .border-line-rate {
            border-right: 1px solid rgba(0,0,0,.14);
        }
        .txt-sold {
            padding-left: 15px;
            span {
                font-size: .875rem;
                color: #767676;
                text-transform: capitalize;
            }
            span:first-child {
                font-size: 1rem;
                color: #222;
                margin-right: 5px;
                padding-bottom: 1px;
            }
        }
        .price-product {
            margin-top: 10px;
            padding: 15px 20px;
            background: #fafafa;
            .price {
                .price-cost {
                    font-size: 1rem;
                    text-decoration: line-through;
                    color: #929292;
                    margin-right: 10px;
                    padding-top: 10px;
                }
                .price-discount {
                    font-size: 1.875rem;
                    font-weight: 500;
                    color: #ee4d2d;
                }
                .discount {
                    padding-top: 10px;
                    span {
                        margin-left: 15px;
                        white-space: nowrap;
                        font-size: .75rem;
                        color: #fff;
                        text-transform: uppercase;
                        background: #ee4d2d;
                        border-radius: 2px;
                        padding: 2px 4px;
                        font-weight: 600;
                        line-height: 1;
                    }
                }
            }
            .txt-bottom {
                margin-top: 10px;
                color: #222;
                img {
                    width: 28px;
                }
            }
        }
        .detail {
            margin-top: 1.5625rem;
            padding: 0 1.25rem;
            color: rgba(0, 0, 0, 0.54);
            .code-discount {
                padding-bottom: 25px;
                .col-md-3 {

                }
                .col-md-9 {
                    span {
                        position: relative;
                        margin-right: .625rem;
                        cursor: default;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        z-index: 1;
                        background: rgba(208,1,27,.08);
                        padding: 3px 7px;
                        border: 0;
                        white-space: nowrap;
                        color: #ee4d2d;
                    }
                }
            }
            .transport {
                padding-bottom: 25px;
                .col-md-9 {
                    span {
                        color: #222;
                    }
                    p {
                        color: rgba(0,0,0,.54);
                        font-weight: 300;
                        margin-top: .125rem;
                        margin-left: 1.875rem;
                    }
                }
            }
            .color, .size {
                margin-bottom: 8px;
                .col-md-3 {
                    padding-top: 10px;
                }
                .variation {
                    cursor: pointer;
                    min-width: 5rem;
                    min-height: 2.125rem;
                    box-sizing: border-box;
                    padding: .25rem .75rem;
                    margin: 0 8px 8px 0;
                    color: rgba(0,0,0,.8);
                    text-align: left;
                    border-radius: 2px;
                    border: 1px solid rgba(0,0,0,.09);
                    position: relative;
                    background: #fff;
                    outline: 0;
                    word-break: break-word;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        border: 1px solid #ee4d2d;
                        color: #ee4d2d;
                    }
                }
            }
            .count {
                color: #757575;
                margin-top: 25px;
                .col-md-3 {
                    padding-top: 10px;
                }
                .col-md-9 {
                    .shopee-svg-icon {
                        font-size: 10px;
                        width: 10px;
                        height: 10px;
                    }
                    button {
                        outline: none;
                        cursor: pointer;
                        border: none;
                        font-size: .875rem;
                        font-weight: 300;
                        line-height: 1;
                        letter-spacing: 0;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                        -moz-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-transition: background-color .1s cubic-bezier(.4,0,.6,1);
                        transition: background-color .1s cubic-bezier(.4,0,.6,1);
                        border: 1px solid rgba(0,0,0,.09);
                        border-radius: 2px;
                        background: transparent;
                        color: rgba(0,0,0,.8);
                        width: 32px;
                        height: 32px;
                    }
                    input {
                        width: 50px;
                        height: 32px;
                        border-left: none;
                        border-right: none;
                        font-size: 16px;
                        font-weight: 400;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        text-align: center;
                        cursor: text;
                        border-radius: 0;
                        outline: none;
                        cursor: pointer;
                        border: none;
                        font-size: .875rem;
                        font-weight: 300;
                        line-height: 1;
                        letter-spacing: 0;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -moz-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                        -moz-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-transition: background-color .1s cubic-bezier(.4,0,.6,1);
                        transition: background-color .1s cubic-bezier(.4,0,.6,1);
                        border: 1px solid rgba(0,0,0,.09);
                        border-radius: 2px;
                        background: transparent;
                        color: rgba(0,0,0,.8);
                    }
                }
            }
            .wrap-button {
                margin-top: 15px;
                padding-left: 15px;
                .btn-add-cart {
                    margin-right: 15px;
                    min-width: 11.25rem;
                    padding: 0 .75rem;
                    font-size: 14px;
                    color: #ee4d2d;
                    background: rgba(255,87,34,.1);
                    border: 1px solid #ee4d2d;
                    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
                    max-width: 250px;
                    height: 48px;
                    text-transform: capitalize;
                    i {
                        margin-right: 10px;
                        font-size: 20px;
                    }
                }
                .btn-buy-now {
                    margin-right: 15px;
                    min-width: 11.25rem;
                    padding: 0 .75rem;
                    font-size: 14px;
                    color: #fff;
                    background: #ee4d2d;
                    max-width: 250px;
                    height: 48px;
                    overflow: hidden;
                    box-sizing: border-box;
                    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
                    border-radius: 2px;
                    border: 0;
                    align-items: center;
                    justify-content: center;
                    text-transform: capitalize;
                    outline: 0;
                    cursor: pointer;
                }
            }
            .wrap-footer {
                margin-top: 30px;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                box-sizing: border-box;
                padding: 25px 20px;
                color: rgba(0,0,0,.54);
                img {
                    width: 20px;
                    height: 20px;
                }
                .guaranteed {
                    color: #222;
                    text-transform: capitalize;
                    font-size: .875rem;
                    margin: 0 20px 0 5px;
                }
            }
        }
    }
}
