.tp-purchase {
    padding: 1.25rem 0 3.125rem;
    .navbar-left {
        .profile {
            padding: 15px 0;
            border-bottom: 1px solid #efefef;
            img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
            .edit {
                padding-left: 15px;
                .name {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-weight: 600;
                    margin-bottom: 5px;
                    color: #333;
                    margin-top: 7px;
                }
                .txt-edit {
                    color: #888;
                    text-transform: capitalize;
                    text-decoration: none;
                    cursor: pointer;
                }
                i {
                    margin-right: 5px;
                }
            }
        }
        .menu-left {
            padding: 0;
            margin: 27px 0 0;
            ul {
                list-style: none;
                padding: 0;
                li {
                    cursor: pointer;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin-bottom: 16px;
                    img {
                        margin-right: 5px;
                    }
                    &:hover {
                        color: #ee4d2d;
                    }
                }
            }
        }
    }
    .navbar-menu {
        margin-bottom: .75rem;
        .navbar-light .navbar-nav .nav-link {
            font-size: 1rem;
            line-height: 1.1875rem;
            padding: 1rem 0;
            color: rgba(0,0,0,.8);
            width: 16.6%;
            text-align: center;
            &:hover {
                color: #ee4d2d;
            }
        }
        .active {
            color: #ee4d2d !important;
            border-bottom: 2px solid #ee4d2d;
        }
    }
    .purchase-search {
        display: flex;
        align-items: center;
        background: #eaeaea;
        i {
            margin-left: .9375rem;
            margin-right: .9375rem;
            color: #555;
            font-size: 19px;
        }
        .ip-purchase-search {
            background: #eaeaea;
            padding: .75rem 0;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
            border-radius: 2px;
            color: #555;
            border: none;
            outline: none;
            width: 100%;
        }
    }
    .store-list-item {
        margin-bottom: .625rem;
        margin-top: .75rem;
        .store {
            margin-bottom: 15px;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
            .store-info {
                background: #fff;
                padding: 1.25rem 1.25rem;
                .store-name {
                    font-size: .875rem;
                    font-weight: 600;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 12.5rem;
                    margin-left: .5em;
                }
                .btn-chat, .btn-see-shop {
                    padding: .3125rem .625rem;
                    font-size: .75rem;
                    outline: none;
                    cursor: pointer;
                    border: none;
                    font-weight: 300;
                    border-radius: 2px;
                }
                .btn-chat {
                    background: #ee4d2d;
                    color: #fff;
                }
                .btn-see-shop {
                    background: #fff;
                    color: rgba(0,0,0,.8);
                    border: 1px solid rgba(0,0,0,.09);
                    border-radius: 2px;
                }
                .status {
                    color: #ee4d2d;
                    line-height: 1.5rem;
                    text-align: right;
                    text-transform: uppercase;
                    white-space: nowrap
                }
            }
            .list-item {
                background: #fff;
                padding: 1.25rem 1.25rem;
                .item {
                    border-top: 1px solid rgba(0,0,0,.09);
                    padding: .625rem 0;
                    align-items: center;
                    .item-info {
                        .name {
                            margin-bottom: .3125rem;
                            font-size: 1rem;
                            line-height: 1rem;
                            max-height: 2rem;
                        }
                        .type {
                            color: rgba(0,0,0,.54);
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .store-footer {
        padding-top: 2.5rem;
        padding-left: 1.125rem;
        padding-right: 1.125rem;
        border-top: 1px solid rgba(0, 0, 0, 0.09);
        background: #fffefb;
        .total-price, .wrap-button {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        .total-price {
            .txt-price {
                color: rgba(0,0,0,.8);
                font-size: .875rem;
                line-height: 1.25rem;
                margin-right: .625rem;
            }
            .price {
                color: #ee4d2d;
                font-size: 1.875rem;
                line-height: 2rem;
            }
        }
        .wrap-button {
            padding: 1.125rem 0 1.25rem;
            .btn-rate, .btn-detail, .btn-buy-again {
                background: #ee4d2d;
                outline: none;
                cursor: pointer;
                border: none;
                color: #fff;
                font-weight: 300;
                border-radius: 2px;
                min-width: 10rem;
                height: 2.5rem;
                margin-left: .625rem;
            }
            .btn-detail, .btn-buy-again {
                border: 1px solid rgba(0,0,0,.09);
                border-radius: 2px;
                background: transparent;
                color: rgba(0,0,0,.8);
            }
        }
    }
}
