.tp-refund {
    //position: fixed;
    //top: 0;
    //left: 0;
    //height: 44px;
    //width: 100%;
    //background: #f6f6f6;
    //z-index: 1001;
    //border-bottom: 1px solid rgba(0,0,0,0.09);
    .header {
        position: fixed;
        top: 0;
        left: 0;
        height: 44px;
        width: 100%;
        background: #f6f6f6;
        z-index: 1001;
        border-bottom: 1px solid rgba(0,0,0,0.09);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        align-self: center;
        line-height: 44px;
        span {
            font-weight: 300;
            color: #222;
            font-size: 1rem;
        }
    }
    .content {
        .txt-select {
            height: auto;
            line-height: inherit;
            padding: 12px;
        }
        .store-info {
            background: #fff;
            position: relative;
            padding: 0 12px;
            height: 36px;
            line-height: 36px;
            input {
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 5px;
            }
            img {
                margin-right: 5px;
            }
        }
        .txt-delivered {
            color: rgba(0,0,0,0.87);
            justify-content: space-between;
            border-bottom: 0.5px solid rgba(0,0,0,0.09);
            padding: 12px;
            display: flex;
        }
        .item {
            padding: 12px;
            align-items: center;
            background: #fff;
            input {
                width: 16px;
                height: 16px;
            }
           .item-info {
               margin-left: 12px;
               .name {
                   white-space: nowrap;
                   overflow: hidden;
                   text-overflow: ellipsis;
                   margin-top: 10px;
                   margin-bottom: 5px;
               }
               .price-info {
                   width: 100%;
                   min-height: 20px;
                   display: flex;
                   justify-content: flex-end;
                   margin-top: 5px;
               }
               span {
                   height: 18px;
                   color: rgba(0,0,0,0.54);
                   font-size: 12px;
               }
           }
        }
        .reason {
            background: white;
            padding: 12px;
            margin-bottom: 1px;
            position: relative;
            display: table;
            width: 100%;
            min-height: 43px;
            margin-top: 15px;
            i {
                font-size: 24px;
                color: rgba(0, 0, 0, 0.54);
                margin-left: 5px;
                vertical-align: middle;
                position: relative;
                bottom: 2px;
            }
        }
        .upload-image {
            padding: 12px;
            padding-top: 30px;
            background: #fff;
        }
        .note, .email {
            background: #fff;
            padding: 12px;
            margin-top: 15px;
            p {
                margin: 0;
                color: #222;
            }
            textarea, input {
                resize: none;
                width: 100%;
                border: none;
                overflow: hidden;
                margin-top: 4px;
                outline: none;
            }
        }
        .btn-submit-refund {
            background-color: grey;
            position: relative;
            border-radius: 4px;
            font-size: 14px;
            padding: 0 12px;
            transition: all .2s ease-in;
            color: white;
            min-width: 60px;
            text-align: center;
            height: 40px;
            line-height: 40px;
            border: none;
            outline: none;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
}
